.grid {
  overflow: scroll;
  scroll-padding: 2rem;
}

.row {
  display: flex;
  padding-left: 1rem;
}

.row::after {
  content: "";
  display: block;
  position: absolute;
  right: -1rem;
  width: 1rem;
  height: 1px;
}

.cell {
  position: relative;
}

.label {
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.3rem;
}

.input,
.placeholder {
  margin: 2px;
  flex-shrink: 0;
}

.placeholder {
  content: "";
  display: inline-block;
  width: calc(2rem + 4px);
  height: calc(2rem + 4px);
}

.input {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .label {
    font-size: 0.7rem;
    margin: 0.5rem;
  }

  .input,
  .placeholder {
    margin: 4px;
  }

  .placeholder {
    content: "";
    width: calc(3rem + 4px);
    height: calc(3rem + 4px);
  }

  .input {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 900px) {
  .row {
    justify-content: center;
  }
}

.input:focus {
  outline: 3px solid #000;
}

.vertical {
  border-width: 2px;
  margin: 1px;
}

@media screen and (min-width: 600px) {
  .vertical {
    margin: 3px;
  }
}

.vertical:focus {
  outline: 3px solid #000;
}

.vertical:focus,
.vertical:valid {
  background: linear-gradient(200deg,
      rgb(255, 130, 136),
      rgb(255, 237, 79),
      rgb(153, 243, 219),
      rgb(255, 143, 249));
  animation: rainbow 50s ease infinite;
  background-size: 300% 300%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}
