.header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 300;
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .title {
    margin-top: 0.9rem;
    font-size: 3rem;
  }
}
