@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: #fff !important;
  background-clip: content-box !important;
}

h1,
h2,
h3,
p,
label,
button,
input {
  font-family: 'Lato', sans-serif;
}


input,
button {
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
}

input:focus {
  outline: 3px solid #000;
}

@media screen and (min-width: 600px) {

  input,
  button {
    font-size: 1.5rem;
  }
}
